<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>

    <section id="section-path-nav">
        <div>
            <h3>Home | Género |Categorías</h3>
        </div>
    </section>     
    <div class="categorias-cuerpo">
        <div class="categorias-categorias">
            <div class="categorias-tipo">
                <div class="categorias-nombre">Jeans</div>
            </div>
            <div class="categorias-tipo">
                <div class="categorias-nombre">Playeras</div>
            </div>
            <div class="categorias-tipo">
                <div class="categorias-nombre">Pants</div>
            </div>
            <div class="categorias-tipo">
                <div class="categorias-nombre">Chamarras</div>
            </div>
        </div>
        <div class="categorias-desplegar">
            <div class="categorias-filtro">

            </div>
            <div class="categorias-inventario">
                <div class="categorias-productos">
                    <img class="categorias-imagenes" src="images\ropa.png" alt="ropa">
                    <div class="categorias-info">
                        <div class="datos">
                            
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>
</body>
<%- include('../partials/footer') %>
</html>