
* {
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
    font-size: medium;
    margin: 0;
    padding: 0;
}

::-webkit-input-placeholder {
    font-style: italic;
 }
 :-moz-placeholder {
    font-style: italic;  
 }
 ::-moz-placeholder {
    font-style: italic;  
 }
 :-ms-input-placeholder {  
    font-style: italic; 
 }

/* ***************** HEADER PARTIAL ***************** */


.buffer-header {
    width: 100%;
    height: 97px;
}

header {
    background-color:#DEDBDB;
    padding: 8px;    
    display: flex !important;
    justify-content: space-between;
    margin-bottom: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
}

header a {
    color: rgb(68, 67, 67) !important;
}

header a:hover, header label[for="show-mobile-submenu"]:hover {
    color: darkcyan;
    text-decoration: none !important;
}

header button {
    background-color: rgb(250, 250, 250);
}

header .categories {
    align-items: center;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin-bottom: 0;
    width: 25%;
}

header .categories a {
    align-items: center;
    display: flex;
    font-size: 1em;
    height: 100%;
    justify-content: center;
    width: 50%;
}

header .categories a:hover, .header .li {
    background-color: lightgray;
}

header div {
    display: flex;
}

header form {
    width: 100%;
}

header i:hover, header #menu:hover, header li:hover  {
    color: darkcyan;
}

header label[for="show-mobile-menu"] {
    display: none;
    
}

header label[for="show-mobile-submenu"] {
    align-items: center;
    border-bottom:solid 3px #DEDBDB;
    color: rgb(68, 67, 67);
    display: flex;
    font-size: 1em;
    height: 40px;
    justify-content: center;
    vertical-align: middle;
    margin-bottom: 0;
}

header .logo {
    margin-right: 10px;
}

header .logo img{
    display: flex;
    height:80px;
    width:80px;
}

header #mb-submit {
    border: none;
    width: 10%;
}

header .mobile-menu, .mobile-submenu {
    background-color: rgb(236, 236, 236);
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
  
}

header .mobile-menu .mobile-search-bar {
    align-items: center;
    background-color: #DEDBDB;
    display: flex;
    height: 40px;
    justify-content: center;
    padding: 0;
    width: 100%;
}
header .mobile-menu a, header .mobile-submenu a {
    align-items: center;
    border-bottom:solid 3px #DEDBDB;
    display: flex;
    height: 40px;
    justify-content: center;
    padding: 0;
    width: 100%;
}

header .mobile-menu a:hover, header .mobile-submenu a:hover, header label[for="show-mobile-submenu"]:hover {
    background-color: rgb(250, 250, 250);
}

header .mobile-menu .logout {
    border-bottom: none;
}

header .mobile-menu .mobile-search-bar {
    border-top: solid 5px #DEDBDB;
    height: 46px;
}

header .mobile-menu .mobile-search-bar #mb-search {
    border: none;
    width: 45%;
}


header #show-mobile-menu:checked + .mobile-menu, header #show-mobile-submenu:checked + .mobile-submenu {
    display: block;
    width: 100%;
}

header .tools {
    align-items: center;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 65%;
}

header .tools .icons {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin-right: 2%;
    width:50%;
}

header .tools .icons #cart {
    display: flex;
    justify-content: center;
    max-width: 40%;
}
header .tools .icons a i{
    font-size: 1.5em;
}

header .tools .icons #session {
    display: flex;
    justify-content: flex-end;
    min-width:25%;
}

header .tools .search-bar {
    background-color: rgb(233, 233, 233);
    border: solid 1px rgb(182, 181, 181);
    display: flex;
    justify-content: space-around;
    margin-left:5px;
    width: 45%;
}

header .tools .search-bar a {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 13%;
}

header .tools .search-bar a i {
    font-size: 1em;
}

header .tools .search-bar #search {
    border: none;
    height: 35px;
    width: 80%;
}

header #submit {
    border: none;
    width: 20%;
}

header ul {
    display: block;
    text-align: center;
  }

@media (max-width: 700px) {
    header .categories a li, header .tools a {
        font-size: 0.9em;
    }
}

@media (max-width: 600px) {
    
    header {
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;
    }

    header .logo {
        min-width:50%;
    }

    header .tools .search-bar {
        display: none;
    }

    header .categories {
        display: none;
    }

    header .tools .icons {
        display: none;
    }

    header label[for="show-mobile-menu"] {
        align-items: center;
        display: block;
        justify-content: center;
        margin-right: 3%;
        
    }
    header label[for="show-mobile-menu"] i {
        color: gray;
        font-size: 1.5em;
        margin-top: 7px;
    }

    header .tools {
        width:fit-content;
    }
    
}

@media (min-width: 600px) {
    .mobile-menu {
        display: none !important;
    }
}



.main-footer {
    position: relative;
    left: 0;
    bottom: 0;
    flex-direction: column;
    width: 100%;
}
.main-footer-1er {
    display: flex;
    justify-content: space-between;
}
.main-footer-2do ul {
    display:flex;
    justify-content: space-evenly;
}
.main-footer  .main-logo {
    display: none;
}

.main-footer-menu01,.main-footer-menu02 {
    border-right: solid rgb(143, 143, 143) 2px;
}
.main-footer-menu01, .main-footer-menu02, 
.main-footer-menu03 {
    width: 33%;
    display: flex;
    justify-content: center;
}

.main-footer-menu01-navbar  ul,
.main-footer-menu02-navbar  ul, .main-footer-menu03-navbar  ul,
.main-footer-2do ul {
    list-style: none;
    margin: 5px;
    padding: 0 0 0 10px;
    text-align: center;
}
.main-footer-menu01-navbar  a,
.main-footer-menu02-navbar  a, .main-footer-menu03-navbar  a {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 5px 0px;
    font-size: 13px;
    font-weight: bold;
    width: 100%;
    min-width: 100px;
}

.main-footer-2do {
    border-top: solid rgb(143, 143, 143) 2px;
}
.main-footer-menu01-navbar a:hover,
.main-footer-menu02-navbar a:hover, .main-footer-menu03-navbar a:hover {
    background-color: rgb(54,224,224);
}
#Tipografia_footer {
    font-size:10px;
}
#main-footer-separador {
    padding: 1px;
    width: 100vw;
}
/* **************************************************/
#section-path-nav {
    margin-top: 0px;
    padding: 5px;
}
#section-path-nav h3 {
    width: 50%;
    font-size: 12px;
    padding: 2px;
}


/* ***************** CART PAGE ***************** */

.cart {
    width: 100%;
}

.cart a {
    color: black;
    
}

.cart a:hover {
    color: darkcyan;
    text-decoration: none;
}

.cart .address {
    height: 70vh;
    padding: 30px;
    width: 45%;
}

.cart .address .address-container {
    align-items: center;
    background-color: rgb(236, 236, 236);
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    padding: 5%;
    width: 100%;
}

.cart .address .address-container form .button-container {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 10%;
    width: 100%;
}

.cart .address .address-container form .button-container button {
    background-color:lightgray;
    border: none;
    padding: 3% 20%;
}

.cart .address .address-container form h3 {
    color: gray;
}

.cart .address .address-container form input{
    margin: 3%;
    max-width: 95%;
}

.cart .address .address-container form label {
    margin: 2% 3% 0 3%;
}

.cart .address .address-container h3 {
    margin: 0;
    text-align: center;
}

.cart .cart-section {
    display: flex;
}

.cart .breadcrumbs {
    align-content: center;
    background-color: rgb(233, 233, 233);
    display: flex;
    padding: 3px;
}

.cart .breadcrumbs p, .cart .breadcrumbs a {
    color: gray;
    font-size: 15px;
    font-style: italic;
    margin-bottom: 0;
    margin-left: 5px;
}

.cart .summary {
    align-items: center;
    border-right: lightgray 1px solid;
    display: flex;
    height: 70vh;
    justify-content: center;
    width: 55%;
}

.cart .summary-container {
    align-items: center;
    background-color: rgb(236, 236, 236);
    display: flex;
    flex-wrap: wrap;
    height: 90%;
    justify-content: center;
    margin: 30px;
    width: 100%;
}

.cart .summary-container .summary-elements {
    height: 70%;
    text-align: center;
    width: 100%;
}

.cart .summary-container .summary-elements a {
    background-color: rgb(250, 250, 250);
    border: lightgray 1px solid;
    padding: 10px 40px;
    text-align: center;
}

.cart .summary-container .summary-elements h2 {
    color: rgb(211, 211, 211);
    font-size: 5em;
    margin-bottom:20px;
    margin-top: 50px;
    text-align: center;
}

.cart .summary-container .summary-elements h3 {
    color: rgb(211, 211, 211);
    margin:0 3% 30px 3% ;
    text-align: center;
}
/* ***************** CATEGORIES PAGE ***************** */

.cat {
    max-width: 100%;
}

.cat a {
    color: black;
    
}

.cat a:hover {
    color: darkcyan;
    text-decoration: none;
}

.cat .breadcrumbs {
    align-content: center;
    background-color: rgb(233, 233, 233);
    display: flex;
    padding: 3px;
}
.cat .breadcrumbs p, .cat .breadcrumbs a {
    color: gray;
    font-size: 15px;
    font-style: italic;
    margin-bottom: 0;
    margin-left: 5px;
}

.cat .products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto 20px;
}

.cat .products-container h2 {
    border-bottom: solid 1px gray;
    color: gray;
    margin: 10px;
    padding: 10px 0;
    width: 100%;
}

.cat .products-container .next {
    background-color: lightgray;
    margin-top: 15px;
    padding: 10px 85px;
}

.cat .products-container .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cat .products-container .products .product {
    align-items: center;
    background-color: rgb(248, 248, 248);
    border: solid 2px lightgray;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    margin: 5% 10px;

}

.cat .products-container .products .product img {
    border: solid 1px lightgray;
    border-radius: 25px; 
    height: 350px;
    margin: 15px;
    padding: 0;
    width: 200px;
}

.cat .products-container .products .product:hover {
    background-color: rgb(221, 221, 221);
}

.cat .sorting-main {
    display: flex;
    justify-content: center;
}

.cat .sorting-main .sorting-container {
    align-items: center;
    background-color: rgb(230, 230, 230);
    border-radius: 10px;
    display: flex;
    height: 40px;
    justify-content: center;
    padding: 10px;
    width: 50%;
}

.cat .sorting-main .sorting-container p {
    margin-bottom: 0;
    white-space: nowrap;
}

.cat .sorting-main .sorting-container select {
    height: fit-content;
    margin: 5px;
}

.cat .types-container {
    flex: 1;
    display: flex;
    margin: 10px;
    padding: 2px;
    overflow: auto;
}

.cat .types-container .types {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    min-height: min-content;
    width: 100%;
}

.cat .types-container .types .type {
    background-color: rgb(241, 241, 241);
    margin-right: 15px;
    padding: 3px 5px;
    white-space: nowrap;
}


@media (max-width: 700px) {
   .cat .products-container h2 {
       text-align: center;
   } 
}



/* ***************** HOME PAGE ***************** */
.desc {
    width: 100%;
}

.desc a {
    color: black;
    
}

.desc a:hover {
    color: darkcyan;
    text-decoration: none;
}


.desc .breadcrumbs {
    align-content: center;
    background-color: rgb(233, 233, 233);
    display: flex;
    padding: 3px;
}
.desc .breadcrumbs p, .desc .breadcrumbs a {
    color: gray;
    font-size: 15px;
    font-style: italic;
    margin-bottom: 0;
    margin-left: 5px;
}

.desc .desc-section {
    display: flex;
    justify-content: center;
}

.desc .desc-section .description-col {
    width: 45%;
}

.desc .desc-section .description-col .description-container{
    background-color: rgb(250, 250, 250);
    height: 100%;
    padding: 10px;
}

.desc .desc-section .description-col .description-container .other {
    display: flex;
    justify-content: space-around;
}

.desc .desc-section .description-col .description-container .other .category {
    text-align: center;
    min-width: 20%;
}

.desc .desc-section .description-col .description-container .other .category .label{
    margin: 0;
    text-align: center;
}

.desc .desc-section .description-col .description-container .other .category .value{
    background-color: lightgray;
    border-radius: 25px;
    color: darkcyan;
    height: 45%;
    padding: 3px 10px;
    margin-bottom: 0;
    margin-top: 5px;
    width: 100%;
}

.desc .desc-section .description-col .description-container .other .category .color {
    color: white;
}

.desc .desc-section .description-col .description-container .price {
    padding-right: 5%;
    text-align: right;
}

.desc .desc-section .description-col .description-container .price p {
    color: darkcyan;
    font-size: 2.5em;
    margin: 0;
    text-align: right;
}



.desc .desc-section div {
    padding: 1%;
}

.desc .desc-section .image {
    width: 40%;
}

.desc .desc-section .image .image-container {
    background-color: rgb(211, 211, 211);
    display: flex;
    justify-content: center;
}

.desc .desc-section .image .image-container img {
    max-height: 500px !important;
}

.desc .desc-section .image .image-container .prev, .desc .desc-section .image .image-container .next {
    align-items: center;
    background-color: rgb(250, 250, 250);
    display: flex;
}

.desc .desc-section .image .image-container .prev:hover, .desc .desc-section .image .image-container .next:hover {
    background-color: gray;
}

.desc .desc-section .image .image-container .prev i, .desc .desc-section .image .image-container .next i {
    color: gray;
    font-size: 2em;
}

.desc .desc-section .image .image-container .prev:hover i, .desc .desc-section .image .image-container .next:hover i {
    color: white;
}

.desc .desc-section .image .title h2{
    font-size: 1.5em;
    margin-bottom: 0;
    text-align: center;
}

.desc .desc-section .total {
    text-align: center;
}

.desc .desc-section .total .amount-container {
    background-color: rgb(230, 230, 230);
    display: flex;
    justify-content: center;
}

.desc .desc-section .total .amount-container .amount {
    height: fit-content;
    margin-left: 2%;
}

.desc .desc-section .total .amount-container p {
    margin: 0;
}

.desc .desc-section .total .button {
    border: none;
    justify-self: center;
    margin-top: 50px;
    width: 100%;
}

.desc .desc-section .total .button a {
    background-color:lightgray;
    padding: 2% 10%;
    width: 40%;
}
/* ***************** HOME PAGE ***************** */

.home {
    background-color: rgb(241, 241, 241);
}

.home .carousel {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
}

.home .carousel h2 {
    align-items: center;
    background-color: rgb(228, 228, 228);
    display: inherit;
    font-size: 1.6em;
    font-weight: lighter;
    height: 50px;
    justify-content: center;
    margin-bottom: 0;
    width: 100%;
}

.home .carousel img {
    width: 100%;
}

.home .carousel .slide {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;
    width: 100%;
}

.home .carousel-nav {
    background-color: rgb(228, 228, 228);
    display: inherit;
    justify-content: center;
    margin-bottom: 10px;
    width: 100%;

}

.home .carousel-nav a {
    margin: 10px;
}

.home .carousel-nav i {
    color: gray;
    font-size: 2em;
}

.home .carousel-nav p {
    display: none;
}

.home .featured {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    width: 80%;
}

.home .featured h2 {
    align-items: center;
    background-color: rgb(228, 228, 228);
    display: inherit;
    font-size: 1.6em;
    font-weight: lighter;
    height: 50px;
    justify-content: center;
    margin-bottom: 0;
    width: 100%;
}

.home .featured .product-list {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
    padding-top: 20px;
}

.home .featured .product-list a {
    color: black;
    width: 22%;
}

.home .featured .product-list a:hover {
    color: black !important;
    text-decoration: none;
}

.home .featured .product-list a:hover .product {
    background-color: rgb(233, 232, 232);
    border-radius: 25px;
}

.home .featured .product {
    align-items: center;
    background-color: rgb(248, 248, 248);
    border: solid 2px lightgray;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    margin: 5% 1%;
}

.home .featured .product img {
    border: solid 1px lightgray;
    border-radius: 25px;  
    height: 350px;
    margin: 15px;
    padding: 0;
    width: 90%;
}

.home .featured .product p {
    display: flex;
    font-size: 1em;
    padding: 2px 10px 2px 10px;
    text-align: center;
}

.home .featured a:hover .product .price {
    color: green;
}


.home .main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.home .main .carousel, .home .main .featured {
    width: 90%;
}


@media (max-width: 1100px){
    .home .featured .product img {  
        height: 300px;
    }

    .home .featured .product-list a {  
        width: 30%;
    }

}


@media (max-width: 900px){
    .home .featured .product-list a {  
        width: 40%;
    }

    .home .featured .product .price {
        font-size: 1.3em;
        font-weight: lighter;
        margin-bottom: 5px;
    }

}


@media (max-width: 700px){   
    .home .featured .product p {
        font-size: 0.85em;
    }

    .home .main .carousel h2, .home .main .featured h2 {
        font-size: 1.2em;
    }
}


@media (max-width: 500px){

    .home .carousel-nav {
        justify-content: space-around;
    }

    .home .carousel-nav a {
        display: flex;
        justify-content: center;
        width: 50%;
    }

    .home .carousel-nav i {
        font-size: 1.5em;
    }

    .home .carousel-nav p {
        align-items: center;
        color:gray;
        display: flex;
        font-size: 1.4em;
        margin-bottom: 0;
    }

    .home .featured .product-list a {  
        width: 250px;
    }
    .home .main .carousel h2, .home .main .featured h2 {
        font-size: 1em;
    }
}


@media (max-width: 300px){
    .home .featured .product img {  
        height: 220px;
    }

    .home .featured .product-list a {  
        width: 180px;
    }
}

/* ***************** LISTINGS PAGE ***************** */

.listings{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.listings .despliegue {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 3%;
    width: 100%;

}

.listings .page-nav {
    align-items: flex-start;
    display: flex;
    height: 10%;
    justify-content: center;
    padding: 2%;
    width: 100%;
}

.listings .page-nav button{
    font-size: 1.5em;
    height: 70px;
    width: 300px;
}

.listings .productos, .listings .add-product{
    background-color: rgb(238, 238, 238);
    border: solid lightgray 3px;
    border-radius: 25px;
    margin: 1%;
    padding: 1%;
    text-align: center;
    width: 23%;
}

.listings .productos:hover, .listings .add-product:hover, .listings button:hover{
    background-color: rgb(221, 221, 221);
}

.listings .add-product:hover i, .listings .add-product:hover p {
    color: white;
}

.listings .add-product:hover div {
    background-color: rgb(207, 207, 207);
}

.listings .add-product {
    align-items: center;
    background-color: white;
    border: solid rgb(212, 212, 212) 3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.listings .add-product div {
    background-color: rgb(240, 240, 240);
    border-radius: 25px;
    padding: 75% 22%;
}

.listings .add-product i {
    color: gray;
    font-size: 3em;
    margin: 10%;
}

.listings .add-product p {
    color: gray;
    font-size: 1.3em;
    margin: 10% 0;
}

.listings .title {
    align-items: center;
    background-color: lightgrey;
    display: flex;
    font-size: 1.5em;
    font-style: italic;
    font-weight: 400;
    justify-content: center;
    padding: 7px 0;
    margin-bottom: 0;
}

.listings .despliegue img {
    border-radius: 25px 25px 0 0 ;
    height: 400px;
    width: 100%;
}

.listings .data{
    background-color: white;
    font-size: 15px;
    border-radius: 0 0 25px 25px;
    padding: 5px;
   
}

.listings button {
    border: none;
    margin: 5px 10px;
    padding: 5px;
    width: 100px;
}


@media (max-width: 1100px) {
    .listings .despliegue img {
        height: 350px;
        
    }

    .listings .productos, .listings .add-product {
        width: 30%;
    }
}


@media (max-width: 850px){
    .listings .despliegue img {
        height: 450px;
        
    }

    .listings .productos  {
        width: 45%;
    }

    .listings .add-product {
        height: 200px;
        width: 95%;

    }

    .listings .add-product div{
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        justify-content: center;
        width: 100%;
        padding: 2%;
    }

    .listings .add-product i, .listings .add-product p {
        align-items: center;
        display: flex;
        height: fit-content;
        justify-content: center;
        margin: auto 1%;
        width: fit-content;
    }

    .listings .page-nav button {
        font-size: 1em;
        height: 50px;
        margin-bottom: 5%;
        width: 200px;
    }
}


@media (max-width: 500px){
    .listings .productos, .listings .add-product {
        width: 70%;
    }

    .listings .despliegue{
        justify-content: center;

    }

    .listings .despliegue img {
        height: 350px;
    }

    .listings .add-product div {
        padding-top: 13%;
        align-items: flex-start;
    }

    .listings .add-product i, .listings .add-product p {
        margin: 0;
        width: 100%;
        
    }

    .listings .page-nav button {
        font-size: 1em;
        height: 40px;
        margin-bottom: 5%;
        width: 150px;
    }
}


@media (max-width: 350px){
    .listings .productos, .listings .add-product {
        width: 90%;
    }
}

/* ***************** LOGIN PAGE ***************** */

body {
    align-items: stretch;
    display:flex;
    flex-wrap: wrap;
}

.register {
    width: 100%;
}

.register a {
    color: black;
    text-decoration: none;
}

.register button {
    background-color: lightgray;
    border: none;
    font-weight: 400;
    margin: 15px;
    min-width: 50%;
    padding: 2% 10%;
}

.register .error {
    font-size: 1em;
    color: red;
    font-style: italic;
}

.register form {
    display: block;
    padding: 3% 0;
    text-align: center;
}

.register .info {
    font-size: 0.75rem;
    font-weight: bold;
}

.register input {
    height: fit-content;
    margin: 0 10px;
}

.register input:active,  .register :not(input:empty) {
    border-color: black !important;
}
.register h2 {
    font-size: 1.2em;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 0;
    text-align: center;
}

.register h3 {
    font-size: 1em;
    font-weight: 300;
}

.register label, .register .credentials {
    align-items: center;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px;
    padding: 0 3%;
    
}

.register label a {
    text-decoration: underline;
}

.register label p {
    margin-bottom: 0;
    text-align: left;
    width: 30%;
}

.register label span, .register form span {
    color: red;
}

.register .login {
    margin-bottom: 15px;
}

.register label[for="remember-login"] p {
    font-size: 1em;
    width: fit-content;
}

.register .credentials {
    align-items: center;
    display: flex;
    justify-content: center;
}

.register .credentials label {
    margin: 0;
    padding: 0;
}

.register .credentials p {
    margin-bottom: 0;
    margin-right: 2%;
    text-align: center;
}

.register .signup {
    margin-top: 10px;
}

.register .subtitle {
    background-color: lightgrey;
    padding: 10px;
}

.register .success {
    font-size: 1em;
    color: green;
    font-style: italic;
}

#tnc a{
    font-size: 1em;
}

#tnc-statement {
    text-align: center;
    width: 50%;
}


@media (max-width: 325px) {

    .register label{
        justify-content: center;
    }

    .register label p {
        text-align: center;
        width: 100%;
    }

    .register .credentials p {
        width: 100%;
    }
}


@media (max-width: 399px){
    #tnc-statement {
        width: 85% !important;
    }
}


@media (max-width: 499px) {

    #tnc {
        justify-content: center;
    }
    
    #tnc-statement {
        text-align: center;
        width: 80%;
    }
}


@media (min-width: 500px){

    .register button {
        min-width: 35%
    }

    .register label p {
        width: 20%;
    }

    #tnc {
        margin: auto 0;
    }

    #tnc-statement {
        width: 60%;
    }
}


@media (min-width: 550px){

    #tnc-statement {
        margin: 0 1%;
        width: 45%;
    }

}


@media (min-width: 700px) {

    .register button {
        background-color: lightgray;
        border: none;
        font-size: 1.3em;
        min-width: 25%;
        padding: 2% 7%;
    }

    .register h2 {
        font-size: 1.5em;
    }

    .register h3 {
        font-size: 1.3em;
    }

    .register label p {
        width: 18%;
    }

    .register p {
        font-size: 1.2em;
    }

    #tnc-statement {
        width: 40%;
    }
}


@media (min-width:850px){
    #tnc-statement {
        width: 40%;
    }
}


@media (min-width: 1000px){
    .register label p {
        width: 12%;
    }

    #tnc-statement {
        width: 35%;
    }
}


@media (min-width: 1200px) {
    .register {
        align-items: stretch;
        margin-bottom: 0;
        display: flex;
        height: 70vh;
    }

    .register button {
        min-width: 10%;
    }

    .register label {
        margin: 2%;
    }

    .register label p {
        height: fit-content;
        margin: 0;
        width: 20%;
    }

    .register .login {
        border-right: dotted gray 2px;
    }

    .register .login, .register .signup {

        display: block;
        margin: 0;
        width: 50%;
    }

    .register .subtitle {
        height: fit-content;
        width: 100%;
    }
    #tnc-statement {
        width: 55%;
    }
}

/* ***************** PRODUCT EDITING PAGES ***************** */


.product-edit-field .add-photo-button {
    height: 100%;
    width: 100%;
}

.product-edit-field .gallery-row {
    align-items: stretch;
    display: flex;
    height: 25%;
    justify-content: space-evenly;
    margin: 0;
    width: 100%;
    
}

.product-edit-field label[for="add-photo-button"] {
    align-items: center;
    color: gray;
    display: flex;
    flex-wrap: wrap;
    font-size: 3rem;
    height: 100%;
    justify-content: center;
    min-width: 100%;
}

.product-edit-field .product-photo, .product-edit-field .add-product-photo {
    align-items: center;
    border: 3px solid lightgray;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    margin: 0 1%;
    width: 120px;
}

.product-edit-field .product-photo img, .product-edit-field .mb-product-photo img {
    height: 100%;
    width: 100%;
}

.product-edit-field .end-buffer {
    display: none;
}

.product-edit-field .retail-edit {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 80vh;
    justify-content: center;
    padding: 0 10%;
    width: 100%;
}

.product-edit-field .retail-info-field {
    justify-content: flex-start;
}

.product-edit-field .photo-gallery {
    justify-content: flex-end;
}

.product-edit-field .retail-info-field, .product-edit-field .photo-gallery{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 80%;
    width:50%;
}

.product-edit-field .info-row {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 15%;
    justify-content: space-around;
    width: 90%;
}

.product-edit-field .info-row input[type="text"], .product-edit-field .info-row button, .product-edit-field .info-row textarea{
    display: block;
    height: fit-content;
    width: 100%;
}

.product-edit-field .info-row .by-two {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.product-edit-field .info-row select, .product-edit-field .info-row input[type="number"] {
    height: fit-content;
    margin: 0 1%;
    width: 60%;
}


.product-edit-field .info-row label {

    display: flex;
    font-style: italic;
    align-items: center;
    padding: 1%;
}

.product-edit-field .mb-photo-gallery, .product-edit-field .retail-info-field p {
    display: none;
}

.product-edit-field .product-photo i {
    color: gray;
    font-size: 2rem;
}

.product-edit-field .submit-area {
    background-color: lightgray !important;
    width: 90%;
}

.product-edit-field .submit-area button{
    background-color: lightgray;
    border: none;
    width: 100%;
}

.product-edit-field .retail-info-field div {
    background-color: rgb(243, 243, 243);
    border-radius: 10px;
    padding: 2%;
}

.product-edit-field .title {
    align-items: center;
    background-color: lightgrey;
    display: flex;
    height: 6vh;
    justify-content: center;
}

.product-edit-field .title h1 {
    font-size: 1.5em;
    font-style: italic;
    font-weight: 400;
}

.product-edit-field .retail-info-field .block {
    padding: 0 2%;
}

.product-edit-field .block label {
    padding: 0;
}


@media (max-width: 1000px) {

    .product-edit-field .retail-edit{
        padding: 0;
    }

    .product-edit-field .photo-gallery {
        display: none;
    }

    .product-edit-field .retail-info-field {
        height: 100%;
        width: 100%;
        flex: 1;
        padding: 0;
    }

    .product-edit-field .retail-info-field div, .product-edit-field .submit-area {
        background-color: white !important;
        margin-bottom: 10px;
    }

    .product-edit-field .retail-info-field p {
        display: block;
        font-style: italic;
        text-align: center;
        width: 100%;
    }

    .product-edit-field .info-row, .product-edit-field .submit-area {
        width: 100%;}

    .product-edit-field .submit-area button {
        height: 30px;
    }

    .product-edit-field .mb-product-photo, .product-edit-field .mb-add-product-photo {
        align-items: center;
        border: 3px solid lightgray;
        border-radius: 5%;
        display: flex;
        width: 120px;
        height: 120px;
        justify-content: center;
        margin: 0 5px;
        padding: 0 !important;

    }

    .product-edit-field .mb-add-product-photo {
        margin-left: 0;
    }

    .product-edit-field .mb-photo-gallery {
        display: flex;
        flex: 1;
        overflow: auto;
        padding: 0;
        width: 100%;
    }

    .product-edit-field .mb-gallery-row {
        display: flex;
        min-height: min-content;
        padding: 0 0 0 5px !important;
    }

    .product-edit-field .mb-product-photo i {
        color: gray;
        font-size: 2rem;
    }

    .product-edit-field label[for="mb-add-photo-button"] {
        align-items: center;
        color: gray;
        display: flex;
        flex-wrap: wrap;
        font-size: 3rem;
        height: 100%;
        justify-content: center;
        min-width: 100%;
    }
}

@media (max-width: 500px) {

    .product-edit-field .title h1 {
        font-size: 1.2em;
    }

    .product-edit-field .info-row .by-two {
        width: 100%;
        padding: 5%;
    }

    .product-edit-field .submit-area{
        margin-bottom: 20px;
    }

    .product-edit-field .end-buffer {
        display: default;
        height: 2vh;
    }
}

/* ***************** USER PROFILE PAGE***************** */

.user {
    display: flex;
    height: 87vh;
    padding: 2%;
    width: 100%;
}

.user .content-panel {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    padding: 15px;
    width: 66.66%;
}

.user .content-panel section {
    width:100%;
    height: 100%;
}

.user .content-panel .title {

    align-items: center;
    background-color: lightgray;
    display: flex;
    height: 10%;
    justify-content: center;
    width: 100%;
}

.user .content-panel #fav-title{
    display: none;
}

.user .content-panel .title p {

    border-radius: 10px;
    font-size: 1.5em;
    margin: 0;
    text-align: center;
    width: 100%;
}

.user .content-panel .info-section {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 55%;
}

.user .content-panel .info-section .data-field {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%
}

.user .content-panel .info-section .data-field button{
    border: none;
    height: 40px;
    width: 60%;
}

.user .content-panel .info-section .data-field #email-label{
    width: 90%;
}

.user .content-panel .info-section .data-field #email{
    width: 95%;
}

.user .content-panel .info-section .data-field label {
    align-items: center;
    display: inherit;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5%;
    width: 50%;
}

.user .content-panel .info-section .data-field p {
    margin: 0;
    text-align: center;
    width: 100%;
}

.user .content-panel .photo-section {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    width: 45%;
}

.user .content-panel .photo-section .centerer {
    display: block
}

.user .content-panel .photo-section .centerer img {
    border-radius: 100%;
    height: 300px;
    margin-bottom: 15px;
    width: 300px;
}

.user .content-panel .photo-section .centerer label {
    align-items: center;
    background-color: rgb(228, 228, 228);
    display: flex;
    height: 50px;
    justify-content: center;
    margin: 0;
}

.user .menu-panel {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    padding: 5% 0;
    width: 33.33%;
}

.user .menu-panel .option {
    align-items: center;
    border: none;
    background-color: rgb(228, 228, 228);
    border-radius: 20px;
    display: flex;
    height: 22%;
    justify-content: center;
    width: 70%;

}

.user .menu-panel .option:focus:active {
    border: none !important;
}

.user .menu-panel .option p {
    font-size: 1.3em;
    margin-bottom: 0;
    text-align: center;
}

.user .menu-panel .option a {
    color: black;
    font-size: 1em;
    font-weight: normal;
}

.user .menu-panel .option a:hover {
text-decoration: none;
}

.user #profile{
    border: lightgray solid 1px;
    display: flex;
    height: 90%;
    width: 100%;
}

.user #favorites{
    border: lightgray solid 1px;
    align-items: center;
    background-color: rgb(236, 236, 236);
    display: none;
    flex-wrap: wrap;
    height: 90%;
    justify-content: center;
    width: 100%;

}

.user #favorites p {
    font-size: 5em;
    text-align: center;
    width: 100%;
}

.user #favorites p, .user #favorites h2 {
    color:lightgray;
}

@media (max-width: 1100px) {
    .user .content-panel .info-section .data-field label, .user #email-label {
        width: 100%;
    }

    .user .content-panel .info-section .data-field #email {
        width: auto;
    }

    .user .content-panel .info-section .data-field button, .user .content-panel .photo-section .centerer label{
        height: 40px;
        margin: 20px 0 0 0;
        width: 172px;
    }

    .user .content-panel .photo-section .centerer{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    .user .content-panel .photo-section .centerer img{
        height: 188px;
        width: 200px;
    }

    .user .content-panel .photo-section .change-pic {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

@media (max-width: 800px) {

    .user .content-panel .profile{
        display: flex;
        flex-wrap: wrap;
    }

    .user .content-panel #profile{
        align-items: center;
        display: flex;
        flex-wrap: wrap;
    }

    .user .content-panel #profile div{
        height: fit-content;
        width: 100%;
    }

    .user .content-panel .photo-section .centerer .change-pic label, .user .content-panel .photo-section .centerer .change-pic img{
        margin: 0;
    }

    .user .content-panel .info-section .data-field label {
        width: 50%;
    }

    .user .content-panel .info-section .data-field #email {
        width: 80%;
    }
}

@media (max-width: 600px) {
    .user {
        align-items: flex-start;
        flex-wrap: wrap;
        height: 100%;
    }

    .user .menu-panel {
        flex-wrap: nowrap;
        justify-content: space-around;
        width: 100%;
        height: fit-content;
        padding: 0 1%;
    }

    .user .menu-panel .option{
        height: 40px;
        width: 30%;
    }

    .user .menu-panel .option p{
        font-size: 0.9em;
    }

    .user .content-panel {
        height: 100%;
        width: 100%;
    }

    .user .content-panel #profile {
        border-bottom: none;
    }

    .user .content-panel #profile, .user .content-panel #favorites {
        height: 100%;
    }

    .user .content-panel .data-field {
        max-height: fit-content;
    }

    .user .content-panel section {
        height:500px;
    }

    .user .content-panel .photo-section {
        margin-bottom: 50px;
    }
}


@media (max-width: 450px){
    .user .content-panel .info-section .data-field label {
        width: 100%;
    }

    .user .content-panel .info-section .data-field #email {
        width: auto;
    }
}

@media (max-width: 300px){

    .user .content-panel #profile {
        align-items: flex-start;
    }

    .user .content-panel .photo-section .centerer img {
        height: 100px;
        width: 100px;
    }

    .user .content-panel .photo-section {
        margin-bottom: 0;
    }

    .user .content-panel .photo-section .centerer label, .user .content-panel .info-section .data-field button {
        height: 25px;
        text-align: center;
        width: 60%
    }

}